/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* Container */
.big-container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    width: 65%;
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Flexbox */
.flex{
    display: flex;
}

/* Margin */
.mg-t{
    margin-top: 8em;
}

.mg-b{
    margin-bottom: 8em;
}

/* Style Liste */
ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
}

/* Style Button */
.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background-color: #0061FF;
    color: white;
}

.btn.white{
    background-color: #fff;
    color: black;
}

a.btn{
    text-decoration: none;
}

.hr{
    display: block;
    width: 100px;
    border: 1px solid #DBDBDD;
}

/* HEADER */
/* HEADER TOP */
.header-top{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.header-left,
.header-right{
    width: 50%;
}

/* Header Left */
/* Logo */
.header-logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* AGGGIUNGERE UN PO DI PADDING SINISTRO */
}

/* Link */
.header-link{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-link li{
    margin: 0 1em;
}

/* Header Right */
.header-right{
    justify-content: flex-end;
}

/* Link */
.header-right .header-link{
    width: 80%;
    justify-content: flex-end;
}


/* HEADER BOTTOM */
.header-bottom{
    background-color: #B4D0E7;
    padding-top: 10em;
    padding-bottom: 2em;
}
/* Jumbotron */
/* Jumbo Top */
.jumbo-top{
    width: 100%;
    font-size: 2rem;
    padding-bottom: 1em;
}

/* Jumbo Bottom */
.jumbo-bottom{
    width: 100%;
}

.jumbo-text{
    width: 30%;
    font-size: 1.2rem;
}

.jumbo-text p{
    margin-bottom: 1.5em;
}

.jumbo-text span{
    display: block;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

.jumbo-text i{
    font-size: 3rem;
}

.jumbo-photo{
    width: 70%;
}
/* ----------------------------------------------------------- */

/* MAIN */

/* Section BUSINESS PLAN */

/* Section top */
.business-plan .section-top{
    width: 100%;
}

.business-plan .section-top h2{
    font-size: 2rem;
    margin-bottom: 1em;
}

.business-plan .section-top .radio-btn{
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 1.5em;
}

/* Section Content */
.business-plan .section-content{
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}

.business-plan .section-content .col{
    width: calc(100% / 3 - 1em);
    border: 1px solid #DBDBDD;
}

/* Top column */
.top-col{
    width: 100%;
}

.type-subscription{
    border-bottom: 1px solid #DBDBDD;
    text-align: center;
    padding: .5em 0;   
}

.top-col h3{
    font-size: 1.5rem;
    padding: .8em 0;
}

.top-col h4{
    padding-bottom: .5em;
}

.top-col .month{
    color: #DBDBDD;
}

.top-col ul{
    margin: 2em 0;
}

.top-col .buy-link{
    display: block;
    margin-top: 2em;
}

.top-col .big-container::after{
    content: "";
    width: 30%;
    display: block;
    margin-top: 2em;
    border-bottom: 1px solid #DBDBDD;
}

/* Bottom col */
.bottom-col{
    width: 100%;

    /* DEBUG */
    height: 300px;
}

.bottom-col .big-container h4{
    margin: 2em 0;
}

.plan-list li{
    display: flex;
    padding-bottom: 1em;
}

.plan-list li i{
    padding-top: .5em;
    padding-right: .5em;
}

 .plan-list li span{
    display: inline-block;
}

/* Section Footer */
.business-plan .section-footer{
    width: 100%;
    margin-top: 3em;
    border: 1px solid #DBDBDD;
}

.business-plan .section-footer .text{
    width: 70%;
}

.business-plan .section-footer .text h2{
    font-size: 1.5rem;
    margin-bottom: .5em;
}

.business-plan .section-footer .text h4{
    font-size: 1.2rem;
    margin-bottom: 2em;
}

.business-plan .section-footer .text p{
    font-size: 1rem;
    margin-bottom: 1em;
}

.business-plan .section-footer .button{
    width: 30%;
    padding: 2em 1em;
}

/* ------------------------------------------------------------------- CONTINUARE */
/* section PHOTO WITH TEXT */
.section-photo .photo{
    width: 60%;
}

.section-photo .text{
    width: 40%;
    padding: 2em;
}

.section-photo .text p{
    margin: 2em 0;
}

.section-photo .text .btn.white{
    border: 1px solid black;
    border-bottom: 3px solid black;
}

/* ----------------------------------------------------------------- */
/* section GRID PHOTO*/

/* Section top */
.grid-photo .section-top h2{
    font-size: 2rem;
    padding-bottom: 1em;
}

/* Section content */
.grid-photo .section-content{
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid-photo .section-content .col{
    width: calc(100% / 3 - 2em);
    margin-bottom: 2em;
}

.col .text-card h3{
    margin-bottom: 1em;
}

/* ------------------------------------------------------------------ */
/* section PARTNER */
.section-partner{
    width: 100%;
    /* DEBUG */
    height: 80vh;
}

/* Section top */
.section-partner .section-top{
    height: 20%;
}

.section-partner .section-top h2{
    font-size: 2rem;
    margin-bottom: 1em;
}

.section-partner .section-top a{
    display: block;
    font-size: 1rem;
    color: blue;
    margin-bottom: 5em;
}

/* Section Main */
.section-partner .section-main{
    height: 50%;
}

.photo-partner{
    width: 30%;
}

.photo-partner .row{
    width: calc(100% / 2);
}

.photo-partner .row .col{
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-partner .row .col img{
    max-width: 70%;
}

#designit{
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

#florida{
    background-color: #0093CE;
}

#arizona{
    background-color: #61082B;
}

#topps{
    background-color: #FF1C1C;
}

#bicycle_relief{
    background-color: #D5001F;
}

#lonely_planet{
    background-color: #0D2481;
}

#hearst_corp{
    background-color: #B4D0E7;
}

#clear_channel{
    background-color: #FFD830;
}

.text-partner{
    width: 40%;
    overflow: auto;
    background-color: #F5F5F5;
}

.text-partner .content svg{
    max-width: 50%;
}

.text-partner .content svg,
.text-partner .content .hr,
.text-partner .content p{
    margin-bottom: 1.5em;
}

/* Section Footer */
.section-partner .section-footer{
    height: 30%;
    align-items: center;
    background-color: #B4D0E7;
}

.section-footer .small-container .text{
    width: 60%;
    color: #61082B;
    font-size: 2rem;
}

.section-footer .small-container .button{
    width: 40%;
    padding: 1em;
}

/* ------------------------------------------------------------ */
/* section DOMANDE */
/* Section top */
.section-question .section-top{
    font-size: 2rem;
    padding-bottom: 2em;
    border-bottom: 1px solid #A0A0A0;
}

/* Section Main */
.row-question{
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid #A0A0A0;
}

.row-question .text{
    width: 85%;
    padding: 2em 0;
}

.row-question .icon{
    width: 15%;
    padding: 2em 0;
}

/* --------------------------------------------------------------------- */
/* FOOTER */
footer{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #000000;
}

footer .big-container{

    /* DEBUG */
    height: 400px;
}

.footer-top{
    justify-content: space-between;
    /* DEBUG */
    min-height: 80%;
    background-color: lightblue;
}

.footer-top .col{
    width: calc(100% / 5 - 1em);

    /* DEBUG */
    background-color: grey;
}

.footer-bottom{

    /* DEBUG */
    min-height: 20%;
    background-color: #AA8F30;
}





