/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* Container */
.big-container{
    width: 70%;
    margin: 0 auto;
}

.small-container{
    width: 55%;
    margin: 0 auto;
}

/* Flexbox */
.flex{
    display: flex;
}

/* Margin */
.mg-t{
    margin-top: 3em;
}

.mg-b{
    margin-bottom: 3em;
}


/* HEADER */

/* HEADER TOP */
.header-top{
    width: 100%;
    height: 100px;

    /* DEBUG */
    background-color: lightcoral;
}
.header-left,
.header-right{
    width: 50%;
    
    /* DEBUG */
    border: 1px solid black;
    height: 100%;
}
/* Header Left */
/* Logo */
.header-logo{
    width: 20%;

    /* DEBUG */
    background-color: lightgreen;
    border: 1px solid black;
    height: 100%;
}
/* Link */
.header-link{
    width: 40%;

    /* DEBUG */
    background-color: blue;
    border: 1px solid black;
    height: 100%;
}
/* Header Right */
.header-right{
    justify-content: flex-end;
}
/* Link */
.header-right .header-link{
    width: 60%;
}

/* HEADER BOTTOM */
.header-bottom{
    background-color: #B4D0E7;
    padding-top: 2em ;
}
/* Jumbotron */
.jumbotron{
    /* DEBUG */
    height: 400px;
}
/* Jumbo Top */
.jumbo-top{
    width: 100%;

    /* DEBUG */
    min-height: 100px;
    background-color: brown;
}

/* Jumbo Bottom */
.jumbo-bottom{
    width: 100%;
}

.jumbo-text{
    width: 35%;

    /* DEBUG */
    min-height: 300px;
    background-color: orange;
    border: 1px solid black;
}

.jumbo-photo{
    width: 65%;

    /* DEBUG */
    min-height: 300px;
    background-color: blue;
    border: 1px solid black;
}


/* MAIN */

/* Section BUSINESS PLAN */
.business-plan{

    /* DEBUG */
    min-height: 500px;
    background-color: grey;
}

/* Section top */
.business-plan .section-top{
    width: 100%;

    /* DEBUG */
    min-height: 100px;
    background-color: #A2F4A5;
    border: 1px solid black;
}

/* Section Content */
.business-plan .section-content{
    width: 100%;
    align-items: stretch;
    justify-content: space-between;

    /* DEBUG */
    min-height: 400px;
    background-color: #fff;
    border: 1px solid black;
}

.business-plan .section-content .col{
    width: calc(100% / 3 - 1em);
    /* DEBUG */
    background-color: orange;
    border: 1px solid black;
}

.top-col{
    width: 100%;
    height: 60%;

    /* DEBUG */
    background-color: green;
}

.bottom-col{
    width: 100%;
    height: 40%;

    /* DEBUG */
    background-color: blue;
}

/* Section Footer */
.business-plan .section-footer{
    width: 100%;

    /* DEBUG */
    min-height: 100px;
    background-color: yellow;
    border: 1px solid black;
}


/* section PHOTO WITH TEXT */
.section-photo .photo{
    width: 60%;

    /* DEBUG */
    min-height: 200px;
    background-color: #42D1F0;
}

.section-photo .text{
    width: 40%;

    /* DEBUG */
    min-height: 200px;
    background-color: lightsalmon;
}


/* section GRID PHOTO*/
.grid-photo{
    /* DEBUG */
    height: 400px;
    background-color: grey;
}

/* Section top */
.grid-photo .section-top{

    /* DEBUG */
    height: 20%;
    background-color: lightseagreen;
}

/* Section content */
.grid-photo .section-content{
    justify-content: space-between;
    flex-wrap: wrap;

    /* DEBUG */
    height: 80%;
    background-color: lightblue;
}

.grid-photo .section-content .col{
    width: calc(100% / 3 - 1em);

    /* DEBUG */
    height: 150px;
}

.col .photo-card{
    
    /* DEBUG */
    height: 45%;
    background-color: #A8F14B;
}

.col .text-card{
    
    /* DEBUG */
    height: 55%;
    background-color: #466B2F;
}

/* section PARTNER */
.section-partner{
    width: 100%;
    height: 80vh;

    /* DEBUG */
}

/* Section top */
.section-partner .section-top{
    height: 20%;

    /* DEBUG */
    background-color: #743333;
}

/* Section Main */
.section-partner .section-main{
    height: 60%;

    /* DEBUG */
    background-color: #DF9F3F;
}

.photo-partner{
    width: 30%;

    /* DEBUG */
    min-height: 100%;
    background-color: #A2D39B;
}

.text-partner{
    width: 40%;

    /* DEBUG */
    background-color: #F5F5F5;
}

/* Section Footer */
.section-partner .section-footer{
    height: 20%;
    background-color: #B4D0E7;
}


/* section DOMANDE */
.section-question{

    /* DEBUG */
    height: 230px;
}

/* Section top */
.section-question .section-top{
    
    /* DEBUG */
    height: 80px;
    background-color: #DDE058;
}

/* Section Main */

.row-question{

    /* DEBUG */
    height: 50px;
    border: 1px solid black;
}

.row-question .text{
    width: 85%;

    /* DEBUG */
    height: 100%;
    background-color: #32FA6A;
}

.row-question .icon{
    width: 15%;

    /* DEBUG */
    height: 100%;
    background-color: #50826A;
}


/* FOOTER */
footer{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #000000;
}

footer .big-container{

    /* DEBUG */
    height: 400px;
}

.footer-top{
    justify-content: space-between;
    /* DEBUG */
    min-height: 80%;
    background-color: lightblue;
}

.footer-top .col{
    width: calc(100% / 5 - 1em);

    /* DEBUG */
    background-color: grey;
}

.footer-bottom{

    /* DEBUG */
    min-height: 20%;
    background-color: #AA8F30;
}





